.tingle-modal {
  user-select: auto;
  padding-top: 0;
  background: rgba(0, 0, 0, 0.5);
}

.tingle-modal--visible {
  z-index: 100000;
}

.tingle-modal-box__content {
  padding: 0;
  height: inherit;
}

.gm-modal-overflow .tingle-modal-box {
  margin-top: 25px;
  margin-bottom: 25px;
  overflow: hidden;
}

.tingle-modal-box {
  border-radius: 0;
}

.gm-hidden {
  display: none;
}

.gm-modal {
  height: inherit;

  .modal-title {
    margin: 0;
    color: #23282d;
    font-size: 18px;
    font-weight: 600;
  }

  .gm-modal-body {
    position: relative;
    padding: 15px;
    padding-bottom: 63px;
  }

  .gm-modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    position: fixed;
    z-index: 999;
    bottom: 0;
    width: 100%;
    background: #f5f5f5;

    .btn-group {
      display: flex;
      justify-content: flex-end;
    }

    .btn-group .btn + .btn {
      margin-left: 10px;
    }
  }
}

.gm-modal-row {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  flex-wrap: wrap;
}

.gm-modal--fullscreen {
  .tingle-modal-box__content {
    height: 100%;
  }

  .tingle-modal-box {
    height: 100%;
    width: 100%;
  }

  .gm-modal {
    height: 100%;
  }
}

.gm-modal--fullscreen.tingle-modal--overflow {
  padding: 0;
  overflow: hidden;
}

.gm-modal--lg {
  .tingle-modal-box {
    max-width: 900px;
  }
}

// Preview preset modal styles
.gm-modal--preview {
  .tingle-modal__close {
    top: 0;
    right: 0;
    font-size: 36px;
    width: 60px;
    height: 60px;
  }

  .gm-close {
    display: none;
  }
}

.gm-modal--icons {
  z-index: 100001;

  .tingle-modal-box {
    max-width: 915px;
    margin-top: 25px;
    margin-bottom: 25px;
    height: calc(100vh - 50px);
  }

  .gm-modal {
    background-color: #f7f7f7;
  }
}

.toplevel_page_groovy_menu_settings .gm-modal--icons.tingle-modal {
  background-color: transparent;
}
