@import '../../node_modules/tingle.js/dist/tingle';
@import '../../node_modules/font-awesome/scss/font-awesome';
@import '../../node_modules/choices.js/public/assets/styles/choices';
@import '../../node_modules/@simonwep/pickr/src/scss/pickr';
@import 'admin/colorpicker';
@import 'admin/modal';
@import 'shared/crane-font';
@import 'admin/edit';
@import 'admin/dashboard';
@import 'admin/integration';
@import 'admin/appearance';
@import 'admin/debug-page';

#toplevel_page_groovy_menu_welcome li:last-child {
  position: relative;

  a {
    padding-left: 35px !important;
  }


  &::after {
    position: absolute;
    left: 14px;
    top: 5px;
    color: #f9b000;
    font-size: 14px;
    text-transform: none;
    font-family: 'groovy-gui' !important;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    speak: none;
    content: "\e900";
  }
}
