.gm-welcome-container {
  box-sizing: border-box;
  margin: 35px 35px 35px 10px;

  h1,
  h2,
  p {
    margin: 0;
  }

  * {
    box-sizing: border-box;
  }
}

.gm-welcome-body {
  box-shadow: 0 0 21px rgba(1, 2, 2, 0.12);
  background-color: #f7f7f7;
  max-width: 1072px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.gm-welcome-header {
  padding: 45px 23px 0 39px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 118px;

  &__logo {
    position: relative;
    margin-right: 53px;

    img {
      width: 100%;
      max-width: 210px;
    }

    span {
      position: absolute;
      left: 60px;
      bottom: -4px;
      color: #a51960;
      font-size: 16px;
      font-weight: 400;
      line-height: 1;
    }
  }

  &__title {
    color: #444;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;

    span {
      font-weight: 600;
    }
  }

  &__version {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    border-radius: 3px;
    background-color: #0000;
    background-image: linear-gradient(68deg, #ce203a 0%, #620ea0 100%);
    padding: 6px 13px;
    align-self: flex-start;
  }
}

.gm-welcome-top-block {
  display: flex;
  position: relative;
  padding-left: 45px;
  margin-bottom: 126px;

  &__txt {
    color: #444;
    max-width: 533px;

    h2 {
      font-weight: 700;
      font-size: 18px;
      line-height: 25px;
      margin-bottom: 19px;
    }

    p {
      font-size: 18px;
      line-height: 25px;
    }
  }

  &__img {
    position: absolute;
    right: 20px;
    top: -130px;
  }
}

.gm-welcome-tiles {
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 12px;
  margin-bottom: 87px;
  position: relative;
}

.gm-welcome-tile {
  background-color: #fff;
  padding: 45px 23px 20px 36px;
  color: #444;
  display: flex;
  flex-direction: column;

  h2 {
    font-weight: 700;
    font-size: 19px;
    margin-bottom: 21px;
  }

  p {
    font-size: 14px;
    margin-bottom: 20px;
    flex: 1;
  }

  &__link {
    border-radius: 3px;
    background-color: #448aff;
    color: #fff !important;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 13px 15px;
    align-self: flex-end;
  }
}

.gm-welcome-comparision {
  padding: 0 20px;

  h2 {
    text-align: center;
    color: #444;
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 10px;

    span {
      color: #b11b55;
    }
  }

  p {
    text-align: center;
    color: #444;
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 57px;
  }
}

.gm-welcome-comparision-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-column-gap: 3px;
  margin-bottom: 60px;

  &__item {
    display: flex;
    align-items: center;
    background-color: #fff;
    font-size: 15px;
  }

  &__item:not(.gm-welcome-comparision-grid__feature) {
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__feature {
    padding-left: 25px;
    padding-right: 25px;
  }

  &__feature:nth-child(odd) {
    background-color: #e8e8e8;
  }

  &__free:nth-child(even) {
    background-color: #e8e8e8;
  }

  &__premium:nth-child(odd) {
    background-color: #fdf8d3;
  }

  &__free {
    color: #d07582;
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
  }

  &__title {
    color: #444;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  &__title.gm-welcome-comparision-grid__premium {
    color: #fff;
    background-color: #ffb11a;
    display: flex;
    align-items: center;
    justify-content: center;

    .gm-gui-icon {
      font-size: 25px;
      margin-right: 7px;
      position: relative;
      top: -6px;
    }
  }
}

.bg-welcome-buy-btn {
  box-shadow: 0 14px 64px rgba(0, 0, 0, 0.21);
  border-radius: 38px;
  background-color: #fdfdfd;
  background-image: linear-gradient(-75deg, #44a7fc 0%, #44a7fc 8%, #00d9f8 100%);
  color: #fff !important;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  padding: 32px 60px;
  text-decoration: none;
  text-align: center;
  align-self: center;
  margin-bottom: 60px;
}
