.gm-grid-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.gm-grid-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.grid,
.grid-5,
.grid-10,
.grid-15,
.grid-20,
.grid-25,
.grid-30,
.grid-35,
.grid-40,
.grid-45,
.grid-50,
.grid-55,
.grid-60,
.grid-65,
.grid-70,
.grid-75,
.grid-80,
.grid-85,
.grid-90,
.grid-95,
.grid-100,
.grid-33,
.grid-66,
.mobile-grid,
.mobile-grid-5,
.mobile-grid-10,
.mobile-grid-15,
.mobile-grid-20,
.mobile-grid-25,
.mobile-grid-30,
.mobile-grid-35,
.mobile-grid-40,
.mobile-grid-45,
.mobile-grid-50,
.mobile-grid-55,
.mobile-grid-60,
.mobile-grid-65,
.mobile-grid-70,
.mobile-grid-75,
.mobile-grid-80,
.mobile-grid-85,
.mobile-grid-90,
.mobile-grid-95,
.mobile-grid-100,
.mobile-grid-33,
.mobile-grid-66 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
