.text-center {
  text-align: center;
}

.d-flex {
  display: flex !important;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-column {
  flex-direction: column;
}

.h-100 {
  height: 100%;
}

.mb-4 {
  margin-bottom: 25px;
}

.mt-5 {
  margin-top: 50px;
}

.mx-4 {
  margin-left: 25px;
  margin-right: 25px;
}

.my-4 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.py-4 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.border-right {
  border-right: 1px solid #5a5a5a;
}

.gm-hidden {
  opacity: 0;
  visibility: hidden;
}

.gm-d-none {
  display: none !important;
}

.gm-bg-hidden {
  background-image: none !important;
}
