/***************************************
NAVBAR GENERAL STYLES
***************************************/

.gm-navbar {
  .gm-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .gm-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .gm-logo__no-logo {
    max-width: 120px;
    text-align: center;
  }

  .gm-logo__img {
    display: none;
    width: auto;
    max-width: none;
    max-height: none;
  }
}

.gm-inner {
  position: relative;
  box-sizing: content-box;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  border-bottom-style: solid;

  .gm-container,
  .gm-navbar-nav {
    transition: height 0.2s;
  }
}

.gm-inner-bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background-color 0.2s;
}

.gm-container {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  align-items: stretch;
  justify-content: space-between;
  position: relative;
}

.gm-menu-empty {
  margin: auto 0 auto 0;
  text-align: center;
  width: 100%;
}

.gm-menu-item:not(.mega-gm-dropdown) {
  position: relative;
}

//Fix adminbar to top on mobile devices
@media (max-width: 600px) {
  #wpadminbar {
    position: fixed;
    transform: translateZ(0);
  }
}

.gm-dropdown:not(.gm-open) .gm-dropdown-menu-wrapper {
  pointer-events: none;
}

.gm-main-menu-wrapper {
  display: flex;
  align-items: center;

  .gm-actions {
    display: flex;
  }

  .gm-menu-item__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px 15px 12px 0;
    white-space: initial;
    line-height: 1.4;
  }

  .menu-item-has-children .gm-menu-item__link {
    padding-right: 0;
  }

  .gm-navbar-nav > .gm-menu-item > a {
    display: flex;
    width: 100%;
    padding: 5px 0;
    line-height: 25px;
    align-items: center;
    justify-content: space-between;
  }

  .gm-menu-item__txt-wrapper {
    transition: all 0.2s;
  }

  .gm-navbar-nav > li,
  .gm-search,
  .gm-minicart,
  .gm-minicart-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .gm-minicart-link {
    color: inherit;
  }

  .gm-dropdown-menu-wrapper {
    top: 0;
  }

  .gm-dropdown-menu > li:last-of-type > a {
    border-bottom: none !important;
  }

  .gm-dropdown:not(.mega-gm-dropdown) {
    position: relative;
  }

  .gm-dropdown-menu,
  .gm-minicart-dropdown {
    visibility: hidden;
    opacity: 0;
  }

  .gm-open > .gm-dropdown-menu-wrapper,
  .gm-open > .gm-dropdown-menu-wrapper > .gm-dropdown-menu,
  .gm-open > .gm-dropdown-menu,
  .gm-open > .gm-minicart-dropdown,
  .gm-open > .gm-search-wrapper {
    visibility: visible;
    opacity: 1;
  }

  .gm-dropdown-menu {
    z-index: 1000;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: left;
  }

  .gm-dropdown-menu > .gm-menu-item {
    padding-right: 15px;
    padding-left: 15px;
  }

  .gm-nav-inline-divider {
    margin: 0 10px;
    width: 1px;
    height: 30px;
    align-self: center;
  }

  .gm-dropdown-menu--background {
    background-size: cover;
  }

  .gm-dropdown-menu-wrapper {
    position: absolute;
    left: 0;
    visibility: hidden;
  }

  .gm-menu-item__link:hover,
  .gm-menu-item__link:focus,
  .gm-dropdown-menu > .current-menu-ancestor > .gm-menu-item__link,
  .gm-dropdown-menu > .current-menu-ancestor > .gm-menu-item__link:hover,
  .gm-dropdown-menu > .current-menu-ancestor > .gm-menu-item__link:focus {
    outline: 0;
  }
}

.gm-navbar--has-shadow:not(.gm-navbar-sticky-toggle) .gm-inner {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gm-navbar--has-shadow-dropdown .gm-dropdown-menu {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.gm-caret {
  position: relative;
  z-index: 10;
  font-size: 16px;
  line-height: 1;
}

.gm-navbar.gm-navbar--hide-gm-caret .gm-navbar-nav > .gm-menu-item > a > .gm-caret {
  display: none;
}

.gm-menu-btn {
  cursor: pointer;
  align-items: center;
}

.gm-navbar--has-divider .gm-navbar-nav > li:not(:last-of-type) > a {
  position: relative;

  &::before {
    position: absolute;
    width: 1px;
    height: 30px;
    opacity: 0.4;
    content: '';
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.gm-menu-item__txt-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
