/***************************************
GROOVY CART
***************************************/

.gm-main-menu-wrapper {
  .gm-minicart > a {
    position: relative;
    font-size: 16px;
  }

  .gm-minicart-icon-wrapper {
    position: relative;
  }

  .gm-minicart .gm-minicart-dropdown {
    position: absolute;
    right: -15px;
    left: auto;
    width: 280px;
  }

  .woocommerce-mini-cart__empty-message {
    padding-bottom: 15px !important;
  }

  .gm-minicart-icon-wrapper > .gm-minicart__txt {
    font-size: 11px;
  }
}

.gm-cart-counter {
  position: absolute;
  top: -23px;
  right: -31px;
  display: block;
  width: 26px;
  height: 26px;
  transition: top 0.2s;
  text-align: center;
  font-size: 11px;
  font-weight: 700;
  line-height: 26px;

  &:empty {
    display: none;
  }
}

// Cart dropdown

.widget_shopping_cart_content .gm-dropdown-menu {
  position: static !important;
}

.gm-main-menu-wrapper .gm-minicart-dropdown {
  padding: 20px 20px 5px;
  font-size: 14px;

  .empty {
    padding-bottom: 15px;
  }

  .woocommerce-mini-cart-item {
    position: relative;
    padding-bottom: 15px;
    padding-left: 80px;
    min-height: 85px;
    box-sizing: content-box;
    line-height: 1.5;
    margin-bottom: 0 !important;

    &:not(:last-of-type) {
      margin-bottom: 20px !important;
    }

    .remove {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      text-align: center;
      font-size: 18px;
      color: inherit;
    }

    a {
      color: inherit;
    }

    a:not(.remove) {
      margin-right: 20px;
      display: block;

      img {
        width: 68px;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .variation {
      margin-right: 20px;

      dt,
      dd {
        display: inline-block;
      }

      dd {
        font-weight: 700;
        margin-left: 0;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .total {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .cart_list {
    max-height: 350px;
    overflow-y: auto;
  }

  .woocommerce-mini-cart {
    &__buttons {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      a {
        margin-bottom: 15px;
        padding: 10px 20px;
        line-height: 1.5;
        width: 100%;
      }

      .button {
        text-transform: uppercase;
        text-align: center;
      }
    }

    &__total {
      margin-top: 0;
      margin-bottom: 24px;
      line-height: 1.8;
      position: relative;
      padding-top: 15px;

      &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        left: 0;
        top: 0;
        background-color: #000;
        opacity: 0.1;
      }
    }
  }
}

/* rtl:begin:ignore */

[dir='rtl'] .gm-main-menu-wrapper .gm-minicart .gm-minicart-dropdown {
  .mini_cart_item {
    padding-left: 0;

    .remove {
      right: auto;
    }

    a:not(.remove) {
      margin-right: 0;
    }
  }
}

/* rtl:end:ignore */
