/************************************
GROOVY TOOLBAR
*************************************/

.gm-navbar {
  .gm-toolbar {
    position: relative;
    transition: all linear 0.2s;
    transition-property: background-color, opacity;
  }

  .gm-toolbar-left,
  .gm-toolbar-right {
    display: flex;
  }

  .gm-toolbar-contacts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    a {
      color: inherit !important;
    }
  }

  .gm-toolbar-socials-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -12px !important;
    margin-right: -12px !important;
  }

  .gm-toolbar-socials-list__item {
    margin-bottom: 0;
    padding-left: 12px;
    padding-right: 12px;
  }

  .gm-toolbar-social-link {
    position: relative;
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    transition: color 0.2s ease;

    .fa {
      line-height: 38px;
    }
  }

  .gm-toolbar-email,
  .gm-toolbar-phone {
    margin-right: 15px;
    display: flex;
    align-items: center;
    line-height: 38px;

    span {
      margin-right: 5px;
    }
  }
}
